################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GTRI-PRISM-Project/.vs/GTRI-PRISM-Project
